<!--The content below is only a placeholder and can be replaced.-->
<div class="head">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img src = "../assets/acf-google-map-field-interface.png" class="res">
      </div>
    </div>
    </div>
    <div class="container second_section">
      <div class="row">
        <div class="col-sm">
          <img src="../assets/bucks.png" class="logo-style" />
        </div>
        <div class="col-sm">
          <div class="seed">
          <h4 class="headi">StarBucks</h4>
        </div>
        <div class="hedd">
          <span id= "sts"><i class="fas fa-stopwatch"></i>&nbsp;2-mins</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span id= "sts"><i class="fas fa-flag-checkered"></i>&nbsp;4.1 miles</span>
        </div>
        </div>
      </div>
      </div>
      <hr />
      <h4 class="dri">Driver details</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="../assets/doctor.jpg" class="logo-style" />
          </div>
          <div class="col-sm">
            <div class="eed">
            <h4 class="name"style="">Ankith</h4>
            <div class="stars">
              <p><span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span></p>
             </div>
             <p class="text">hello from earth,how are you.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="cal">
      <button mat-fab color="warn">
        <mat-icon>
          call
        </mat-icon>
      </button>
    </div>
    <div class="container nav">
      <div class="row">
        <div class="col-sm">
         <div class="ico">
          <div class="example-button-row">
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon class="second">delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon class="third">timeline</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon class="fourth">power_settings_new</mat-icon>
            </button>
         </div>
        </div>
      </div>
    </div>
    </div>


<router-outlet></router-outlet>
