.head{
    height: auto;
    width:480px;
    margin:auto;
    box-sizing: border-box;
    box-shadow: -1px 2px 16px 0px rgba(0,0,0,1);
}
.res{
    height:auto;
    width:455px !important;
    box-shadow: 4px 7px 6px -1px rgba(0,0,0,1);
    margin-top:7px;
}
.second_section{
    margin-top: 22px;
}

.logo-style{
    border-radius: 50%;
    height:50px;
    width:50px;
    margin-left: 70px;
}
.seed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.eed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}
#sts{
    font-size: 11px;
    font-weight: lighter;
}
.stars{
    font-size: 12px;
    font-weight: lighter;
    margin-right: 5px;
}
.text{
    font-size: 10px;
    font-weight: 300;
    margin-top:0px !important ;
    
}
.cal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10px;
}
.nav{
    background-color: rgb(243, 240, 177);
    margin-top: 10px;
}

.fourth{
    margin-left: 330px;
}
.third{
    margin-left: 240px;
}
.second{
    margin-left: 120px;
}
.headi{
    margin-right: 100px;
    font-weight: bold;
}
.dri{
    margin-left: 10px;
    
}
@media only screen and (max-width: 600px) {
    .hedd {
        margin-left: 120px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .headi {
        margin-left: 10px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .logo-style {
        margin-left: 130px;
        height:100px;
        width: 100px;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .eed {
        margin-left: 120px;
    }
}
@media only screen and (max-width: 600px) {
    .dri {
        margin-left: 100px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .name {
       margin-left: 18px;
        margin-top: 10px;
        
    }
}
@media only screen and (max-width: 600px) {
    .stars {
       margin-left: 22px;
        margin-top: 10px;
        
    }
}
@media only screen and (max-width: 600px) {
    .text {
        margin-left: -45px;
        margin-top: 10px;
        font-size: medium;
        
    }
}
.name{
    margin-right: 90px;
    font-weight: bold;
}